#允许空行
#以井号开头的是注释

#前置地址
#经纪公司代码
#投资者代码
#用户密码

#SIMU
#QUOTE_FRONT_ADDR=tcp://asp-sim2-md1.financial-trading-platform.com:26213
#BROKER_ID=2030
#INVESTOR_ID=00092
#PASSWORD=888888

#gtja
#QUOTE_FRONT_ADDR=tcp://gtja-md2.financial-trading-platform.com:41213
#BROKER_ID=7090
#INVESTOR_ID=00092
#PASSWORD=888888

#shcifco
QUOTE_FRONT_ADDR=tcp://zjzx-md4.ctp.shcifco.com:41213
BROKER_ID=8070
INVESTOR_ID=885629
PASSWORD=840401

#行情收不全 可以收到IF
#TRADE_FRONT_ADDR=tcp://180.169.40.126:21205
#QUOTE_FRONT_ADDR=tcp://180.169.40.126:21213
#BROKER_ID=4200
#INVESTOR_ID=99000533
#PASSWORD=013035

#__END__
#订阅合约代码
INSTRUMENT_ID=IF1412,IF1501,IF1503,IF1506,cu1501,m1505,RM505
#INSTRUMENT_ID=rb1505,ag1506,cu1501

#con 文件目录
#TRADE_CON_PATH=./trade_con
#QUOTE_CON_PATH=./quote_con

#最长query等待时间
MAX_QUERY_DELAY=10